<div class="container">
    <header>
        @if (editMode == false) {
        <p>Registrar horas</p>
        }@else {
        <p>Editar horas</p>
        }
    </header>
    <form [formGroup]="form" (ngSubmit)="rewriteHour()" (ngSubmit)="createNewHour()">
        <main>
            <p>Horas</p>
            <input type="number" formControlName="hours">

            <p>Fecha</p>
            <input type="date" formControlName="date">

            <p>Descripción</p>
            <input type="text" formControlName="description">
        </main>

        <footer>
            @if (editMode == false) {
            <button type="button" [routerLink]="['/inicio']" class="return">Volver a inicio</button>
            <!--Pongo type button porque me intentaba enviar el formulario.-->
            }@else {
            <button type="button" class="return" (click)="closeForm()">Ir atrás</button>
            <!--Pongo type button para prevenir aunque este no me intentaba enviar el formulario como el de volver a inicio.-->
            }
            @if (editMode == false) {
            <button type="submit" class="add">Añadir</button>
            }@else {
            <button type="submit" class="add">Guardar</button>
            }
        </footer>
    </form>
</div>