:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 80%;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 60px;
}

button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ECEFCA;
    height: 95px;
    width: 340px;
    border-radius: 30px;
    font-size: 1.6rem;
    gap: 30px;
    padding-left: 30px;
}

button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

button:active {
    background-color: #9b9b9b;
    transform: scale(0.99);
}

img {
    height: 50px;
}