<div class="container">
    <div class="text">
        <p>👋¡Hola!</p>
        <p>¿Qué quieres hacer hoy?</p>
    </div>
    <div class="buttons">
        <button><img src="/assets/CalendarioRegistro.png" alt="Calendario de registro">Registrar horas</button>
        <button><img src="/assets/Reloj.png" alt="Reloj">Ver horas</button>
        <div class="widget">
            <div class="widget-2">
                <p class="title">Última hora registrada</p>
                <p>12-03-2025 - 2,75 horas</p>
            </div>
            <div class="widget-2">
                <p class="title">Esta semana</p>
                <p>6 horas</p>
            </div>
        </div>
    </div>
</div>