:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    max-width: 80%;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
}

.widget{
    background-color: #ECEFCA;
    padding-left: 30px;
    border-radius: 15px;
}
.widget-2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.title{
   font-weight: 600; 
   font-size: 1.2rem;
}

button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ECEFCA;
    height: 85px;
    width: 320px;
    border-radius: 15px;
    font-size: 1.3rem;
    gap: 30px;
    padding-left: 30px;
}

button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

button:active {
    background-color: #9b9b9b;
    transform: scale(0.99);
}

img {
    height: 40px;
}

p{
    margin: 10px;
}