:host {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 50px;
}

img {
    width: 35px;
}

.container {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record {
    background-color: #ECEFCA;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 20px;
}

.buttons {
    background-color: #ECEFCA;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px 40px;
    font-weight: bold;
    border-radius: 20px;
}

.buttons button {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 15px;
    background-color: #94B4C1;
    border-radius: 15px;
}

.buttons button:hover {
    background-color: #405f6d;
    color: #ECEFCA;
    cursor: pointer;
}

.buttons button:active {
    background-color: #3b4f58;
    transform: scale(0.98);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    background-color: #ECEFCA;
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px 5px;
    border-spacing: 30px 15px;
    font-size: 1.1rem;
}

table td {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

table tr:last-child td {
    border-bottom: none;
}

table button {
    border: none;
    cursor: pointer;
    background: none;
}

table button:hover {
    color: #547792;
}

table button:active {
    color: #213448;
    transform: scale(0.95);
}

.interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.buttons-navegation {
    display: flex;
    gap: 40px;
    color: #ffffff;
}

.button {
    display: flex;
    flex-direction: column;
}

.button button {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #ECEFCA;
    cursor: pointer;
}

.button button:hover {
    background-color: #dce0b8;
    cursor: pointer;
}

.button button:active {
    background-color: #c5caa3;
    transform: scale(0.98);
}

.total-hours {
    background-color: #ECEFCA;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    padding: 0px 25px;
}

.total {
    background-color: #94B4C1;
    padding: 10px 20px;
    border-radius: 15px;
}

.number {
    background-color: #94B4C1;
    padding: 10px 20px;
    border-radius: 15px;
}

.return-container{
    display: flex;
    justify-content: end;
}

.return{
    width: 120px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
}

.return:hover {
    color: #cfcfcf;
    cursor: pointer;
}

.return:active {
    transform: scale(0.99);
}