<div class="container">
    <div class="top-bar">
        <div class="record">
            <p>Historial de horas</p>
        </div>
        <div class="buttons">
            <p>Clasificar por:</p>
            <button>Semana</button>
            <button>Mes</button>
            <button>Año</button>
            <button>Total</button>
        </div>
    </div>

    <div class="content">
        <table>
            <tr>
                <th>Horas</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Acción</th>
            </tr>
            <tr>
                <td>2.75 Horas</td>
                <td>24-07-2024</td>
                <td>Me pidieron que me quedara más horas</td>
                <td><button>Ver</button>/<button>Editar</button>/<button>Elminar</button></td>
            </tr>
            <tr>
                <td>2.75 Horas</td>
                <td>24-07-2024</td>
                <td>Me pidieron que me quedara más horas</td>
                <td><button>Ver</button>/<button>Editar</button>/<button>Elminar</button></td>
            </tr>
            <tr>
                <td>2.75 Horas</td>
                <td>24-07-2024</td>
                <td>Me pidieron que me quedara más horas</td>
                <td><button>Ver</button>/<button>Editar</button>/<button>Elminar</button></td>
            </tr>
            <tr>
                <td>2.75 Horas</td>
                <td>24-07-2024</td>
                <td>Me pidieron que me quedara más horas</td>
                <td><button>Ver</button>/<button>Editar</button>/<button>Elminar</button></td>
            </tr>
            <tr>
                <td>2.75 Horas</td>
                <td>24-07-2024</td>
                <td>Me pidieron que me quedara más horas</td>
                <td><button>Ver</button>/<button>Editar</button>/<button>Elminar</button></td>
            </tr>
            <tr>
                <td>2.75 Horas</td>
                <td>24-07-2024</td>
                <td>Me pidieron que me quedara más horas</td>
                <td><button>Ver</button>/<button>Editar</button>/<button>Elminar</button></td>
            </tr>
        </table>
    </div>

    <div class="interaction">
        <div class="buttons-navegation">
            <div class="button">
                <button><img src="/assets/left-arrow.png" alt="left-arrow"></button>
                <p>Página anterior</p>
            </div>
            <div class="button">
                <button><img src="/assets/right-arrow.png" alt="right-arrow"></button>
                <p>Página siguiente</p>
            </div>
        </div>
        <div class="total-hours">
            <p class="total">Total de horas:</p>
            <p class="number">16.50</p>
        </div>
    </div>
    <div class="return-container">
        <button [routerLink]="['/inicio']" class="return">volver a inicio</button>
    </div>    
</div>
